<blockquote>
	<div *ngIf="hero" class="name">{{hero.name}}</div> 
</blockquote>

<ul>
	<li *ngFor="let hero of heroes">{{hero.name}}</li>
</ul>

<p *ngIf="false">
    ngIf = false
</p>

<p [style.display]="'block'">
	style.display= block
</p>

<ng-template [ngIf]="hero">
		<div class="name">{{hero.name}}</div>
</ng-template>

<button (click)="hero = hero ? null : heroes[0]">Toggle hero</button>

<ng-container *ngIf = "hero">
{{hero.name}}
</ng-container>

<span *ngIf="hero">
	and saw {{hero.name}}
</span>
 
<label><input type="checkbox" checked (change)="shwoSad=!showSad" >
show sad</label>
<select [(ngModel)]="hero">
	<span *ngFor="let h of heroes">
		<span *ngIf="showSad || h.emotion !== 'sad'">
			<option [ngValue]="h">{{h.name}} ({{h.emotion}})</option>
		</span>
	</span>
</select>
 
 
 
<p><i>&lt;select&gt; with &lt;ng-container&gt;</i></p>
<div>
  Pick your favorite hero
  (<label><input type="checkbox" checked (change)="showSad = !showSad">show sad</label>)
</div>
<select [(ngModel)]="hero">
  <ng-container *ngFor="let h of heroes">
    <ng-container *ngIf="showSad || h.emotion !== 'sad'">
      <option [ngValue]="h">{{h.name}} ({{h.emotion}})</option>
    </ng-container>
  </ng-container>
</select>
<br><br> <!--这个功能很不错-->
<hr>

<p class="code">&lt;div *ngFor="let hero of heroes; let i=index; let odd=odd; trackBy: trackById" [class.odd]="odd"&gt;</p>
<div *ngFor="let hero of heroes;let i=index;let odd = odd;trackBy:trackById" [class.odd]="odd">
	({{i}}{{hero.name}})
</div>

<p class="code">&lt;ng-template ngFor let-hero [ngForOf]="heroes" let-i="index" let-odd="odd" [ngForTrackBy]="trackById"/&gt;</p>

<ng-template ngFor let-hero [ngForOf]="heroes" let-i="index" let-odd="odd"
[ngForTrackBy]="trackById" >
		<div [class.odd]="odd">({{i}}){{hero.name}}</div>
</ng-template>
 
<label *ngFor="let h of heroes">
	<input type="radio" name="heroes" [(ngModel)]="hero" [value]="h">{{h.name}}
</label>

<label>
	<input type="radio" name="heroes" (click)="hero = null">None of the avove
</label>
<hr> 
<div [ngSwitch]="hero?.emotion">
  <app-happy-hero    *ngSwitchCase="'happy'"    [hero]="hero"></app-happy-hero>
  <app-sad-hero      *ngSwitchCase="'sad'"      [hero]="hero"></app-sad-hero>
  <app-confused-hero *ngSwitchCase="'app-confused'" [hero]="hero"></app-confused-hero>
  <app-unknown-hero  *ngSwitchDefault           [hero]="hero"></app-unknown-hero>
</div>
 
 <hr>
<h4>NgSwitch with &lt;ng-template&gt;</h4>
<div [ngSwitch]="hero?.emotion">
  <ng-template [ngSwitchCase]="'happy'">
    <app-happy-hero [hero]="hero"></app-happy-hero>
  </ng-template>
  <ng-template [ngSwitchCase]="'sad'">
    <app-sad-hero [hero]="hero"></app-sad-hero>
  </ng-template>
  <ng-template [ngSwitchCase]="'confused'">
    <app-confused-hero [hero]="hero"></app-confused-hero>
  </ng-template >
  <ng-template ngSwitchDefault>
    <app-unknown-hero [hero]="hero"></app-unknown-hero>
  </ng-template>
</div>
 
<hr>

<span [ngClass]="{ 'a': !condition, 'b': condition, 'unless': true }">{{condition}}</span>.
<button
(click)="condition = !condition"
[ngClass] = "{ 'a': condition, 'b': !condition }" >
Toggle condition to {{condition ? 'false' : 'true'}}
</button>

<p *appUnless="condition" class="unless a">
  (A) This paragraph is displayed because the condition is false.
</p>
 
<p *appUnless="!condition" class="unless b">
  (B) Although the condition is true,
  this paragraph is displayed because appUnless is set to false.
</p>

<p *appUnless="condition">Show this sentence unless the condition is true.</p>
 
<p *appUnless="condition" class="code unless">
  (A) &lt;p *appUnless="condition" class="code unless"&gt;
</p>

<ng-template [appUnless]="condition">
  <p class="code unless">
    (A) &lt;ng-template [appUnless]="condition"&gt;
  </p>
</ng-template>

<hr>
<app-hero-birthday> </app-hero-birthday>
<app-power-booster></app-power-booster>
<app-power-boost-calculator></app-power-boost-calculator>
<app-flying-heroes></app-flying-heroes>
<!--<app-hero-async-message></app-hero-async-message>-->
 <app-hero-list></app-hero-list> 
